* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.app {
    width: 90%;
    max-width: 500px;

    background: white;

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 25px;
    color: #333;
}

.buscador {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;

    padding: 12px;

    border: 2px solid #ddd;

    border-radius: 10px;

    outline: none;

    font-size: 16px;
}

input:focus {
    border-color: #4facfe;
}

button {
    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    background: #4facfe;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);

    background: #2388e8;
}

#mensaje {
    margin-top: 15px;

    color: #e74c3c;
}

.clima {
    margin-top: 25px;
}

.oculto {
    display: none;
}

#nombreCiudad {
    font-size: 28px;

    margin-bottom: 10px;
}

#iconoClima {
    width: 100px;
}

#temperatura {
    font-size: 45px;

    color: #333;

    margin: 10px;
}

#descripcion {
    text-transform: capitalize;

    font-size: 18px;

    margin-bottom: 25px;
}

.datos {
    display: flex;

    justify-content: space-around;

    gap: 10px;
}

.datos div {
    background: #f3f7fa;

    padding: 15px;

    border-radius: 12px;

    flex: 1;
}

.datos span {
    font-size: 25px;
}

.datos p {
    margin: 5px 0;

    color: #666;
}

.datos strong {
    color: #333;
}

@media (max-width: 500px) {

    .buscador {
        flex-direction: column;
    }

    .datos {
        flex-direction: column;
    }
}